.navigation {
    max-width: 90%;
    background: #fff;
    padding: 15px;
    margin: 40px auto 100px;
    outline: 4px solid #fa0;
    border-radius: 10px;
    box-sizing: border-box;
}

.dark .navigation {
    background: #222;
    outline: 4px solid #0af;
}

.navigation__link {
    margin: 6px;
    color: #222;
    text-decoration: none;
}

.dark .navigation__link {
    color: #fff;
}

.navigation__link:hover {
    border-bottom: 2px solid;
}